@using Movie.Interfis
@using Movie.Models
@using Newtonsoft.Json
@model string;
@{
    ViewData["Title"] = "PageMovie";
    Layout = null;//"~/Views/Home/PageMovie.cshtml";

    var str = Model.Split('\n');
    IMovieType movieType;

    switch (str[0])
    {
        case "Film":
            movieType = JsonConvert.DeserializeObject<Film>(str[1]);
            break;
        case "Serial":
            movieType = JsonConvert.DeserializeObject<Serial>(str[1]);
            break;
        default:
            movieType = new Film();
            break;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/StylePageMovie.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>@movieType.Name</title>
</head>
<body>
    
    <header>
        <div class="Top_Bar">
        </div>
    </header>
    
    <div class="Main_Context">
        <div class="Data_Movie">
           <div class="Poster">
                <img src="~/@movieType.PosterPath" runat="server" alt="">
           </div>

           <div class="Description_Context">
                <div class="Description_Data" style="display:none;">
                    <p>Cтатус: сезон 1 серия 13</p>
                    <p>Продолжиткльность: 97min</p>
                    <p>Жанрн: Боевик, Драма, Комедия</p>
                    <p>Страна: Франция</p>
                    <p>Режиссёр: Дебора Чоу</p>
                    <p>В ролях: Вайнона Райдер, Дэвид Харбор, Финн Вулфхард, Милли Бобби Браун, Гейтен Матараццо, Калеб Маклафлин, Наталия Дайер, Чарли Хитон, Джо Кири, Кара Буоно, Сэди Синк</p>
                </div>
                <div class="Description_Text">
                    <p1>Description...</p1>
                    <p style="display:block;">
                       @movieType.Description; 
                    </p>
                </div>
           </div>
        </div>
        <div class="List_File">
            <table>
                <tr>
                    <td><p>23:4</p></td>
                    <td><p>Name: NameFile_0...</p></td>
                    <td><input type="submit"></td>
                </tr>
            <tr>
                <td><p>124:25</p></td>
                <td><p>Name: NameFile_1...</p></td>
                <td><input type="submit"></td>
            </tr>
 
            </table>
        </div>
    </div>

    <footer>
        <div class="footer_text">
            <div class="Text">
                <p>Правила</p>
                <p>Реклама</p>
                <p>Обратная связь</p>
            </div>
                <div class="NameCom">
                    <a href="https://github.com/Ch-Tima">
                        <p>Ch-Tima</p>
                    </a>
                </div>
        </div>
        <div class="Attention">
            <p>Копирование и распространение категорически запрещено! </p>
        </div>
    </footer>



    
</body>
</html>
